
@{
    ViewData["Title"] = "GenerateHTML";
}




<h1>GenerateHTML</h1>

 @Html.Raw("<pre>"+ Html.Encode(@ViewBag.clientslist) + "</pre>"); 

  <form method="post" id="form" enctype="multipart/form-data" asp-action="GenerateHTML">
        <table>
            <tr>
                <td>Form fields: </td>
                <td><input type="text" id="FormFields" name="FormFields" value="FirstName;LastName"/></td>
            </tr>
            <tr>


                


                <td>Client Url: </td>
                <td><select asp-items="@ViewBag.clientUrlList"  name="ClientUrl"  ></select> </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"  value="Generate Form Post Script" /></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="button"  value="Generate Site Accessed Script" onclick="javasript: document.getElementById('FormFields').value = '';document.getElementById('form').submit();" /></td>
            </tr>


        </table>
    </form>



   <textarea id="txtResult" style="width:100%;height:800px"  >@ViewBag.result </textarea>
